<div id="help-modal" class="modal">
    <div class="modal-content">
        <span class="close" id="close-help">&times;</span>
        <h2>How to Use QRork</h2>
        <ul>
            <li>Enter the URL you want to encode.</li>
            <li>Choose a file name for your QR code download.</li>
            <li>Select the file format and theme you prefer.</li>
            <li>Click "Generate" to download your QR code.</li>
        </ul>
        <p>SVG format only supports the default theme.</p>
        <p>To support QRork.app use the ($) to donate on PayPal.</p>
    </div>
</div>