<form method="POST" action="{{ url_for('index') }}">

    <div class="set">
        <fieldset>
            <legend>URL</legend>
            <input type="text" id="url" name="url" required>
        </fieldset>

        <fieldset>
            <legend>File Name</legend>
            <input type="text" id="file_name" name="file_name" required>
        </fieldset>
    </div>

    <div class="set">
        <fieldset>
            <legend>File Format</legend>
            <label>
                <input type="radio" name="file_format" value="png" checked>
                <span>.png</span>
            </label>
            <label>
                <input type="radio" name="file_format" value="bmp">
                <span>.bmp</span>
            </label>
            <label>
                <input type="radio" name="file_format" value="jpg">
                <span>.jpg</span>
            </label>
            <label>
                <input type="radio" name="file_format" value="gif">
                <span>.gif</span>
            </label>
            <label>
                <input type="radio" name="file_format" value="svg">
                <span>.svg</span>
            </label>
        </fieldset>
        
        <fieldset>
            <legend>Theme</legend>
            <label>
                <input type="radio" name="theme" value="default" checked>
                <span>Base</span>
            </label>
            <label>
                <input type="radio" name="theme" value="invert">
                <span>Flip</span>
            </label>
            <label>
                <input type="radio" name="theme" value="qrork">
                <span>QRork</span>
            </label>
            <label>
                <input type="radio" name="theme" value="bee">
                <span>Bee</span>
            </label>

            <label>
                <input type="radio" name="theme" value="aqua">
                <span>Aqua</span>
            </label>
        </fieldset>
    </div>


    <div class="btn">
        <button type="submit">Generate</button>
        <div class="footer">{% include 'partials/footer.html' %}</div>
    </div>
    

</form>

