<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QRORK - QR Code Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="body">
    <nav>
        <img src="static/concept-art/comic-1-qr-rune.png" alt="" width="40px">
        <a href="/">Tool</a>
        <a href="/about">About</a>
        <!-- <a href="https://almondhousepublishing.com/store" target="_blank" rel="noopener noreferrer">Store</a> -->
        <a href="https://github.com/almondhouse27/QRORK" target="_blank" rel="noopener noreferrer">Code</a>
        <img src="static/concept-art/comic-1-qr-rune.png" alt="" width="40px">
    </nav>

    <div class="bio-container">
        <img src="/static/concept-art/comic-1.png" alt="Description of image">

    </div> <!--end--container-->

    <!-- Footer -->
    <div class="guide-container">
        <div> 
            <p class="howto bio-title">In a world where survival is brutal and swift, one hero rises: QRORK, the primal messenger.</p>
            <p class="howto">Armed with only his wits, a wood staff, and an iron will,<br>QRORK traverses treacherous terrains infested with thunderous beasts and ancient terrors.</p>
            <p class="howto">From steaming jungles to molten volcanic plains,<br>QRORK dodges snapping jaws and razor claws to deliver messages of hope, peace, or warning to the scattered clans of the prehistoric world.</p>
            <p class="howto">Known for his speed, courage, and fierce loyalty<br>QRORK races against time and nature, the unbreakable bridge between tribes—a living legend in a lost land where the legendary are born.</p>
        </div>
        <div class="credits">
            <p>
                www.QRORK.app |
                &copy;2024 Almond House Publishing, LLC | 
                All rights reserved.
            </p>
        </div>
    </div>
  </div>
  
<!-- JavaScript for App -->
<script>

</script>
</body>
</html>

