<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QRORK - QR Code Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="body">
    <nav>
        <a href="/">Tool</a>
        <a href="/about">About</a>
        <!-- <a href="https://almondhousepublishing.com/store" target="_blank" rel="noopener noreferrer">Store</a> -->
        <a href="https://github.com/almondhouse27/QRORK" target="_blank" rel="noopener noreferrer">Code</a>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
                <div class="flash-message">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    
    <div class="container">

        <!-- Form Floating Left -->
        <div class="form-container">
            <form method="POST" action="/" enctype="multipart/form-data">
                <h1>QR Code Generator</h1>
                
                <label for="url" class="txt-lbl">URL:</label>
                <input 
                    type="text" 
                    id="url" 
                    name="url" 
                    placeholder="https://qrork.app" 
                    value="{{ url }}" 
                    required
                >

                <hr class="pad16">

                <label for="file-name" class="txt-lbl">File Name:</label>
                <input 
                    type="text" 
                    id="file-name" 
                    name="file-name" 
                    placeholder="QRORK-qrcode" 
                    class="ipad16" 
                    value="{{ file_name}}" 
                    required
                >
                
                <hr class="pad16">

                <fieldset>
                    <legend class="txt-lbl">Export Format:</legend>

                    <!-- First row of radio buttons -->
                    <div class="radio-row">
                        <input type="radio" id="png" name="export-format" value="PNG" 
                               {% if export_format == 'PNG' %}checked{% endif %} required
                        >
                        <label class="sm-lbl" for="png">PNG</label>
                
                        <input type="radio" id="jpeg" name="export-format" value="JPEG"
                               {% if export_format == 'JPEG' %}checked{% endif %}
                        >
                        <label class="sm-lbl" for="jpeg">JPEG</label>
                
                        <input type="radio" id="bmp" name="export-format" value="BMP"
                               {% if export_format == 'BMP' %}checked{% endif %}
                        >
                        <label class="sm-lbl" for="bmp">BMP</label>
                    </div>
                
                    <!-- Second row of radio buttons -->
                    <div class="radio-row">
                        <input type="radio" id="gif" name="export-format" value="GIF"
                               {% if export_format == 'GIF' %}checked{% endif %}
                        >
                        <label class="sm-lbl" for="gif">GIF</label>
                
                        <input type="radio" id="tiff" name="export-format" value="TIFF"
                               {% if export_format == 'TIFF' %}checked{% endif %}
                        >
                        <label class="sm-lbl" for="tiff">TIFF</label>
                
                        <input type="radio" id="webp" name="export-format" value="WEBP"
                               {% if export_format == 'WEBP' %}checked{% endif %}
                        >
                        <label class="sm-lbl" for="webp">WEBP</label>
                    </div>
                </fieldset>

                <hr class="pad16">

                <fieldset>
                    <legend class="txt-lbl">Colors:</legend>
                    <div class="radio-row">
                        <input type="radio" id="default" name="color" value="default" 
                               {% if color == 'default' %}checked{% endif %} checked
                        >
                        <label class="sm-lbl" for="default">DEFAULT</label>
                
                        <input type="radio" id="invert" name="color" value="invert"
                               {% if color == 'invert' %}checked{% endif %}
                        >
                        <label class="sm-lbl" for="invert">INVERT</label>
                
                        <input type="radio" id="jungle" name="color" value="jungle"
                               {% if color == 'jungle' %}checked{% endif %}
                        >
                        <label class="sm-lbl" for="jungle">JUNGLE</label>

                        <input type="radio" id="bee" name="color" value="bee"
                               {% if color == 'bee' %}checked{% endif %}
                        >
                        <label class="sm-lbl" for="bee">BEE</label>
                    </div>
                </fieldset>
        
                <div class="button-container">
                    <input type="button" value="Clear" class="btn" onclick="clearForm()">
                    <input type="submit" name="preview" value="Preview" class="btn">
                    <input type="submit" name="submit" value="Download" class="btn">
                </div>
                
            </form>
        </div>

        <!-- Image Floating Right -->
        <div class="image-container">
            <img src="/static/concept-art/caveman-barry-removebg.png" 
                 alt="Caveman Barry stands confidently at the edge of a roaring waterfall while towering dinosaurs move through the misty jungle around him, perfectly at ease in the wild ancient world."
                 width="100%"
            >
        </div>
    </div> <!--end--container-->

    <!-- Footer How-To Guide -->
    <div class="guide-container">
        <div> 
            <p class="howto">
                Enter a valid URL starting with http:// or https:// up to 512 characters.<br>
                Use only letters, numbers, spaces, underscores, hyphens, and periods for the file name.<br>
                To close a preview, click anywhere on the page, not-on the image.
            </p>
        </div>
        <div class="credits">
            <p>
                www.QRORK.app |
                &copy;2024 Almond House Publishing, LLC | 
                All rights reserved.
            </p>
        </div>
    </div>

    <!-- Preview Modal -->
    <div id="preview-modal" class="modal">
        <div class="modal-content">
            <img class="code" id="preview-image" src="" alt="QR Code Preview" />
        </div>
        <p style="display:flex">Click off the preview to return to application</p>
    </div>
  </div>

<!-- JavaScript for App -->
<script>

window.onload = function() {
    // Select all the flash messages
    const flashMessages = document.querySelectorAll('.flash-message');

    flashMessages.forEach(function(message) {
        setTimeout(function() {
            // Remove the flash message from the DOM after 3 seconds
            message.remove(); // Remove the individual flash message element

            // Check if the container is now empty and remove it
            const flashContainer = document.querySelector('.flash-messages');
            if (flashContainer && flashContainer.children.length === 0) {
                flashContainer.remove(); // Remove the container if empty
            }
        }, 5000); // 3000ms = 3 seconds
    });

    const qr_image_url = "{{ qr_image_url }}";
    if (qr_image_url) {
        openModal(`/static/${qr_image_url}`);
    }
    };

// When clear button is clicked
function clearForm() {
    document.getElementById('url').value = '';
    document.getElementById('file-name').value = '';
    const radioButtons = document.querySelectorAll('input[name="export-format"]');
    radioButtons.forEach((radio) => {
        radio.checked = false;
    });
    document.getElementById('default').checked = true;
}

// Required for modal
function openModal(image_url) {
    const modal = document.getElementById("preview-modal");
    const previewImage = document.getElementById("preview-image");
    previewImage.src = image_url;
    modal.style.display = "block";

    modal.addEventListener('click', function(event) {
        if (event.target === modal) {
            closeModal();
        }
    });
}

// Required for modal
function closeModal() {
    const modal = document.getElementById("preview-modal");
    modal.style.display = "none";
}

</script>
</body>
</html>

