<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>QRORK</title>
</head>
<body>
    <!-- <a href="https://www.vecteezy.com/free-vector/abstract">Abstract Vectors by Vecteezy</a> -->
    <div class="main">
        <div class="frame">
            <div class="header">{% include 'partials/header.html' %}</div>
            <div class="input">{% include 'partials/input.html' %}</div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>